@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor:#000;
    --secondaryTextColor:rgb(51 51 51);
    --mainLinkColor:#f2b10c;
    --mainBorderColor:rgb(218, 218, 218);
    --mainBgColor:rgb(249, 250,251);
}

[data-theme="dark"]{
    --mainTextColor:#fff;
    --secondaryTextColor:#fbfcfc;
    --mainLinkColor:rgb(223, 248, 6);
    --mainBorderColor:#2b3031;
    --mainBgColor:#131415;
}



*{
    font-family: 'Cambria';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 38px;
    line-height: 1em;
}

#profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
#generation-pic{
    width: 350px;
    height: 200px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    /* margin: 0 auto; */
    /* display:inline-block; */
    
    
}

#AP-pic{
    width: 250px;
    height: 130px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    /* margin: 0 auto; */
    /* display:inline-block; */
    
}

#expansionworkflow-pic{
    width: 250px;
    height: 150px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    /* margin: 0 auto; */
    /* display:block */
}

#characterization-pic{
    width: 420px;
    height: 240px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    /* margin: 0 auto; */
    /* display:block */
}

#differentiationworkflow-pic{
    width: 500px;
    height: 250px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    margin: 0 auto;
    display:block
}

#shear-pic{
    width: 310px;
    height: 150px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    /* margin: 0 auto; */
    /* display:block */
}

#ibidi-pic{
    width: 350px;
    height: 200px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    /* margin: 0 auto; */
    /* display:block */
}

#varicose-pic{
    width: 350px;
    height: 150px;
    /* object-fit: cover; */
    border-radius: 0%;
    border-width: 0.1cm;
    border: 1px solid black;
    margin: 0 auto;
    display:block
}
#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

#qualifications--list{
    list-style: square;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    color: rgb(30, 190,214);

}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 3em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    #wrapper--hero{
        flex-direction: column;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}

#skills {
    text-align: left;
    padding: 0px;
    /* background-color: mainBgColor; */
}
/*for skillset */
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates two equal columns */
    /* justify-content: center; */
    gap: 40px;
    flex-wrap: wrap;
}

.skill-group h3 {
    /* color: #333; */
    font-size: 20px;
    margin-bottom: 5px;
}

.skill-group p {
    font-size: 16px;
    /* color: #555; */
    margin: 0;
}

.card--achievements{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--achievements a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.papertitle {
    /* font-weight: bold; */
    /* font-size: 18px; */
    /* color: #0056b3; */
    list-style-type: square;
    margin-left: 0px;
}


/* ---- Author Name Styling ---- */
.thisauthor {
    font-style: italic;
    text-decoration: underline;
    /* color: #666; */
}

.tag {
    text-decoration: none;
    color: #089af4;
    font-weight: bold;
}
h1 {
    font-size: 1.5em; /* Adjust as needed */
    font-weight: bold;
}

h3 {
    font-size: 1 em; /* Adjust as needed */
    font-weight: bold;
}

#socials--container a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--container a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}
.image-container {
    display: flex;
    justify-content: center; /* Centers the whole block */
    gap: 10px;               /* Space between images */
    flex-wrap: wrap;         /* Optional: stacks on smaller screens */
    align-items: center;
  }